* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-wrapper {
    display: grid;
    grid-template-areas: "h h" "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 25px;
}


/* Header */

.header {
    grid-area: h;
    background-color: #59f783;
    display: flex;
    align-items: center;
    padding: 10px;
    color: #ffffff;
}

header img {
    width: 30px;
}


/* Navigation */

.nav {
    padding: 20px 10px 10px 10px;
    grid-area: n;
    background-color: #59f7d5
}

.nav-item {
    cursor: pointer;
    padding: 3px;
    transition: color .3s linear;
    font-size: 22px;
}

.nav-item:last-child {
    margin-top: 10px;
}

.nav-item:hover {
    color: #ffffff;
}


/* Content */

.content {
    grid-area: c;
    background-color: #e9d9d9;
    padding: 10px;
}

.content_img img {
    width: 100%;
    height: 120px;
    overflow: hidden;
}


/* Profile */

.profile {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.profile_info {
    margin-left: 10px;
    color: black
}

.profile_img img {
    width: 90px;
    height: 90px;
}


/* Posts */

.posts {
    margin-top: 50px;
    width: 90%;
}

.post-title {
    font-size: 28px;
}

.post-form {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.post-form__input {
    width: 100%;
    padding: 8px 0px 20px 8px;
    font-size: 18px;
    background-color: #e6e6ee;
    border: none;
    outline: none;
}

.post-form__btn {
    background-color: green;
    border: none;
    outline: none;
    width: 90px;
    height: 30px;
    font-size: 18px;
    margin-top: 25px;
    align-self: flex-end;
    cursor: pointer;
    transition: color .3s ease;
}

.post-form__btn:hover {
    color: #ffffff;
}


/* LastPOsts */

.lastPosts {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.lastPosts-item {
    margin-bottom: 20px;
    display: flex;
}

.lastPosts-item:last-child {
    margin-bottom: 0;
}

.lastPosts-item__circl {
    background-color: yellow;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 15px;
}

.lastPosts-item__text {
    font-size: 20px;
    font-weight: 700;
}