.nav {
    padding: 20px 10px 10px 10px;
    grid-area: n;
    background-color: #59f7d5
}

.nav_item {
    margin-bottom: 10px;
}

.nav_item a {
    cursor: pointer;
    transition: color .3s linear;
    font-size: 22px;
    text-decoration: none;
    color: #8a5c5c;
}

.nav_item a.active {
    color: rgb(211, 0, 0);
}

.nav_item a:hover {
    color: #ffffff;
}


/* .nav_item.active {
    bgc: #ff0000;
} */