.nav {
    padding: 20px 10px 10px 10px;
    grid-area: n;
    background-color: #59f7d5
}

.nav_item {
    cursor: pointer;
    padding: 3px;
    transition: color .3s linear;
    font-size: 22px;
}

.nav_item:last-child {
    margin-top: 10px;
}

.nav_item:hover {
    color: #ffffff;
}